---
import Layout from "../layouts/Layout.astro";

const github_url = "https://github.com/neobrains";
const discord_url = "https://discord.gg/xEEpJvE9py";
const contact_url = "mailto: admin@neobrains.me";

const navbar = [
  {
    name: "GitHub",
    url: github_url,
  },
  {
    name: "Discord",
    url: discord_url,
  },
  {
    name: "Contact",
    url: contact_url,
  },
];

const CACHE_EXPIRY_TIME = 3600; // Cache data for 1 hour

async function fetchTeamData() {
  const cacheKey = "teamData";
  const cachedData = JSON.parse(localStorage.getItem(cacheKey));
  if (cachedData && Date.now() < cachedData.expiryTime) {
    return cachedData.data;
  }
  const response = await fetch("https://api.github.com/orgs/neobrains/members");
  const data = await response.json();
  const owners = ["AyushSehrawat", "jnsougata"];
  const team = data.map(({ login, avatar_url, html_url }) => {
    return {
      name: login,
      avatar: avatar_url,
      github: html_url,
      role: owners.includes(login) ? "Owner" : "Member",
    };
  });

  const expiryTime = Date.now() + CACHE_EXPIRY_TIME * 1000;
  localStorage.setItem(cacheKey, JSON.stringify({ data: team, expiryTime }));
  return team;
}

async function fetchRepoData() {
  const cacheKey = "repoData";
  const cachedData = JSON.parse(localStorage.getItem(cacheKey));
  if (cachedData && Date.now() < cachedData.expiryTime) {
    return cachedData.data;
  }
  const response = await fetch("https://api.github.com/users/neobrains/repos");
  const data = await response.json();
  const no_include = [".github", "deta-bot", "basic-deta", "space-push"];
  const projects = data
    .filter((project) => !no_include.includes(project.name))
    .map(({ name, full_name, html_url, description }) => {
      return {
        name,
        full_name,
        html_url,
        description,
      };
    });

  const expiryTime = Date.now() + CACHE_EXPIRY_TIME * 1000;
  localStorage.setItem(
    cacheKey,
    JSON.stringify({ data: projects, expiryTime })
  );
  return projects;
}

async function fetchData() {
  const [team, projects] = await Promise.all([
    fetchTeamData(),
    fetchRepoData(),
  ]);
  return { team, projects };
}

const data = await fetchData();
const team = data.team || [];
const projects = data.projects || [];
---

<Layout title="Neobrains">
  <div
    id="expand"
    class="md:hidden bg-menu rounded-full fixed bottom-4 right-4 flex p-4 text-sm text-white cursor-pointer text-right overflow-hidden z-50"
  >
    <i class="fa-solid fa-bars"></i>
  </div>
  <div
    id="modal"
    class="left-0 bottom-0 slide-in w-full h-64 fixed bg-[rgba(0, 0, 0, 0.075)] hidden items-center z-50 rounded-t-3xl rounded-r-3xl backdrop-blur-md"
  >
    <div
      id="collapse"
      class="text-white fixed top-4 right-4 bg-hover-div-bg rounded-full text-sm h-8 w-8 flex items-center justify-center"
    >
      <i class="fa-solid fa-xmark"></i>
    </div>
    <ul class="w-full pt-0 h-max">
      {
        navbar.map(({ name, url }) => (
          <li class="w-full h-full flex items-center justify-center flex-col">
            <a
              class="text-white text-xl p-4 font-semibold cursor-pointer hover:text-gray-400 transition-colors"
              href={url}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <header
    class="w-full top-0 md:h-max p-8 md:px-32 md:pt-8 flex justify-between items-center z-40 sticky backdrop-blur-sm"
  >
    <div class="flex gap-2">
      <img
        src="./neobrains-rounded.png"
        alt="Neobrains logo"
        class="logo h-8 w-8 md:w-10 md:h-10"
      />
      <h1 class="text-xl font-semibold md:text-4xl text-white">Neobrains</h1>
    </div>
    <nav class="hidden w-full md:flex items-center gap-4 justify-end font-lato">
      {
        navbar.map(({ name, url }) => (
          <a
            class="text-white text-xl font-semibold cursor-pointer hover:text-gray-400 transition-colors"
            href={url}
          >
            {name}
          </a>
        ))
      }
    </nav>
  </header>
  <div class="flex flex-col p-8 md:px-32 md:pt-8 overflow-hidden">
    <section class="flex flex-col md:flex-row items-center">
      <div
        class="w-full h-full flex gap-4 items-start justify-between flex-col"
      >
        <div
          class="text-white text-left items-start flex flex-col text-5xl md:text-7xl font-semibold"
        >
          <span class="text-white">Brainstorm.</span>
          <div class="text-white">Build.</div>
          <div class="text-white">Succeed.</div>
        </div>
        <span class="text-white text-lg md:text-xl font-medium font-lato"
          >We at Neobrains develop stuff. Sometimes it works, sometimes it
          doesn't</span
        >
      </div>
      <img
        src="man-exploring-globe.png"
        alt="brainstorming"
        class="image-contaner justify-end invert lg:w-1/2 lg:h-1/2 scale-125 hover:scale-150 ease-in-out transition-all delay-200"
      />
    </section>
    <section class="text-white flex flex-col items-start text-left">
      <span class="text-2xl md:text-4xl font-semibold mb-4">About Us</span>
      <span
        class="text-lg md:text-xl font-medium font-lato mt-2 mb-16 leading-relaxed"
      >
        At Neobrains, our goal is to brainstorm, build, and succeed. We are
        passionate about developing innovative solutions and bringing them to
        life. We brainstorm new ideas and build products that are both effective
        and efficient. We understand that not every project will be a success,
        but we are committed to learning from our experiences and continuously
        improving our approach.
      </span>

      <section
        class="text-white flex flex-col items-start text-left mb-4 gap-4 w-full"
      >
        <span class="text-white font-semibold text-2xl md:text-4xl text-left"
          >Our Projects</span
        >
        <div id="cards" class="grid grid-cols-1 lg:grid-cols-3 gap-4 w-full">
          {
            projects.map(({ name, full_name, html_url, description }) => (
              <a
                href={html_url}
                target="_blank"
                class="card flex flex-col font-lato gap-2 items-start text-left p-8 rounded-md"
              >
                <span class="font-semibold font-exo-2 text-lg md:text-xl">
                  {full_name}
                </span>
                <span class="text-sm md:text-base font-medium text-left ">
                  {description}
                </span>
              </a>
            ))
          }
          <a
            href={github_url}
            target="_blank"
            class="card flex flex-col font-lato gap-2 items-start text-left p-8 bg-div-bg hover:bg-hover-div-bg transition-colors rounded-md"
          >
            <span class="font-semibold font-exo-2 text-lg md:text-xl">
              And more soon....
            </span>
            <span class="text-sm md:text-base font-medium">
              Follow our GitHub / join our Discord to stay updated!
            </span>
          </a>
        </div>
      </section>

      <section class="flex flex-col mt-12 overflow-hidden w-full">
        <span class="text-white font-semibold text-2xl md:text-4xl text-left"
          >Our Team</span
        >
        <div
          id="cards"
          class="mt-8 overflow-x-hidden grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full"
        >
          {
            team.map(({ name, role, github, avatar }) => (
              <a
                href={github}
                target="_blank"
                class="card flex overflow-hidden gap-4 items-center p-4 font-lato rounded-md hover:cursor-pointer"
              >
                <img src={avatar} alt={name} class="rounded-full h-16 w-16" />
                <div class="flex flex-col gap-1">
                  <span class="text-white font-semibold text-lg md:text-xl">
                    {name}
                  </span>
                  <span class="text-white text-sm md:text-lg">{role}</span>
                </div>
              </a>
            ))
          }
        </div>
      </section>
    </section>
    <footer class="w-full pt-8 flex items-start text-white overflow-hidden">
      <span class="font-lato text-sm md:text-lg text-left"
        >Copyright © 2022 Neobrains.me. All rights reserved.</span
      >
    </footer>
  </div>
</Layout>
