---
import Layout from "../layouts/Layout.astro";

const github_url = "https://github.com/neobrains";
const discord_url = "https://discord.gg/xEEpJvE9py";
const contact_url = "mailto: admin@neobrains.me";

const navbar = [
  {
    name: "GitHub",
    url: github_url,
  },
  {
    name: "Discord",
    url: discord_url,
  },
  {
    name: "Contact",
    url: contact_url,
  },
];

const team = [
  {
    name: "Jnsougata",
    role: "Founder",
    github: "https://github.com/Jnsougata",
    avatar: "https://avatars.githubusercontent.com/u/53375272?v=4",
  },
  {
    name: "Mini",
    role: "Owner",
    github: "https://github.com/AyushSehrawat",
    avatar: "https://avatars.githubusercontent.com/u/69469790?v=4",
  },
  {
    name: "Sofa",
    role: "Member",
    github: "https://github.com/SlumberDemon",
    avatar: "https://avatars.githubusercontent.com/u/72651859?v=4",
  },
  {
    name: "Tesco",
    role: "Member",
    github: "https://github.com/tescomealdealll",
    avatar: "https://avatars.githubusercontent.com/u/84300788?v=4",
  },
];

const response = await fetch("https://api.github.com/users/neobrains/repos");
const repos = await response.json();
const no_include = [".github", "deta-bot", "basic-deta", "space-push"];

const projects = repos
  .filter((project) => !no_include.includes(project.name))
  .map(({ name, full_name, html_url, description }) => {
    return {
      name,
      full_name,
      html_url,
      description,
    };
  });
---

<Layout title="Neobrains">
  <div
    id="modal"
    class="left-0 bottom-0 slide-in w-full h-64 fixed bg-[rgba(0, 0, 0, 0.075)] hidden items-center z-50 rounded-t-3xl rounded-r-3xl backdrop-blur-md"
  >
    <ul class="w-full pt-0 h-max">
      {
        navbar.map(({ name, url }) => (
          <li class="w-full h-full flex items-center justify-center flex-col">
            <a
              class="text-white text-xl p-4 font-semibold cursor-pointer hover:text-gray-400 transition-colors"
              href={url}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <header
    class="w-full top-0 md:h-max p-8 md:px-32 md:pt-8 flex justify-between items-center z-40 sticky backdrop-blur-sm"
  >
    <div class="flex gap-2">
      <img
        src="./neobrains-rounded.png"
        alt="Neobrains logo"
        class="logo h-8 w-8 md:w-10 md:h-10"
      />
      <h1 class="text-xl font-semibold md:text-4xl text-white">Neobrains</h1>
    </div>
    <nav class="hidden w-full md:flex items-center gap-4 justify-end font-lato">
      {
        navbar.map(({ name, url }) => (
          <a
            class="text-white text-xl font-semibold cursor-pointer hover:text-gray-400 transition-colors"
            href={url}
          >
            {name}
          </a>
        ))
      }
    </nav>
    <div
      class="md:hidden remove-highlight block p-2 text-lg text-white cursor-pointer w-full text-right overflow-hidden"
    >
      <i class="p-2 fa-solid fa-bars remove-highlight" id="expand"></i>
    </div>
  </header>
  <div class="flex flex-col p-8 md:px-32 md:pt-8 overflow-hidden">
    <section class="flex flex-col md:flex-row items-center">
      <div
        class="w-full h-full flex gap-4 items-start justify-between flex-col"
      >
        <div
          class="text-white text-left items-start flex flex-col text-5xl md:text-7xl font-semibold"
        >
          <span class="text-white">Brainstorm.</span>
          <div class="text-white">Build.</div>
          <div class="text-white">Succeed.</div>
        </div>
        <span class="text-white text-lg md:text-xl font-medium font-lato"
          >We at Neobrains develop stuff. Sometimes it works, sometimes it
          doesn't</span
        >
      </div>
      <img
        src="man-exploring-globe.png"
        alt="brainstorming"
        class="justify-end invert lg:w-1/2 lg:h-1/2 scale-125 hover:scale-150 ease-in-out transition-all delay-200"
      />
    </section>
    <section class="text-white flex flex-col items-start text-left">
      <span class="text-2xl md:text-4xl font-semibold mb-4">About Us</span>
      <span
        class="text-lg md:text-xl font-medium font-lato mt-2 mb-16 leading-relaxed"
      >
        At Neobrains, our goal is to brainstorm, build, and succeed. We are
        passionate about developing innovative solutions and bringing them to
        life. We brainstorm new ideas and build products that are both effective
        and efficient. We understand that not every project will be a success,
        but we are committed to learning from our experiences and continuously
        improving our approach.
      </span>

      <section
        class="text-white flex flex-col items-start text-left mb-4 gap-4 w-full"
      >
        <span class="text-white font-semibold text-2xl md:text-4xl text-left"
          >Our Projects</span
        >
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 w-full">
          {
            projects.map(({ name, full_name, html_url, description }) => (
              <a
                href={html_url}
                target="_blank"
                class="flex flex-col font-lato gap-2 items-start text-left p-4 bg-div-bg hover:bg-hover-div-bg transition-colors"
              >
                <span class="font-semibold font-exo-2 text-lg md:text-xl">
                  {full_name}
                </span>
                <span class="text-sm md:text-base font-medium">
                  {description}
                </span>
              </a>
            ))
          }
        </div>
      </section>

      <section class="flex flex-col mt-12 overflow-hidden w-full">
        <span class="text-white font-semibold text-2xl md:text-4xl text-left"
          >Our Team</span
        >
        <div class="flex mt-8 gap-4 flex-col lg:flex-row overflow-x-hidden">
          {
            team.map(({ name, role, github, avatar }) => (
              <a
                href={github}
                target="_blank"
                class="flex overflow-hidden remove-highlight bg-div-bg hover:bg-hover-div-bg transition-colors gap-4 w-full lg:w-1/4 items-center p-4 font-lato rounded-md hover:cursor-pointer"
              >
                <img src={avatar} alt={name} class="rounded-full h-16 w-16" />
                <div class="flex flex-col gap-1">
                  <span class="text-white font-semibold text-lg md:text-xl">
                    {name}
                  </span>
                  <span class="text-white text-sm md:text-lg">{role}</span>
                </div>
              </a>
            ))
          }
        </div>
      </section>
    </section>
    <footer class="w-full pt-8 flex items-start text-white overflow-hidden">
      <span class="font-lato text-sm md:text-lg text-left"
        >Copyright © 2022 Neobrains.me. All rights reserved.</span
      >
    </footer>
  </div>
</Layout>
